<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>Baidu</string>
		<key>website</key>
		<string>xueshu.baidu.com</string>
		<key>icon</key>
		<string>baidu</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Google</string>
		<key>website</key>
		<string>g2.wen.lu/scholar</string>
		<key>icon</key>
		<string>google</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Bing</string>
		<key>website</key>
		<string>cn.bing.com/academic?mkt=zh-CN</string>
		<key>icon</key>
		<string>bing</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Wikipedia</string>
		<key>website</key>
		<string>en.m.wikipedia.org/wiki/Main_Page</string>
		<key>icon</key>
		<string>wiki</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Aminer</string>
		<key>website</key>
		<string>aminer.org</string>
		<key>icon</key>
		<string>a</string>
	</dict>
	<dict>
		<key>name</key>
		<string>读秀</string>
		<key>website</key>
		<string>duxiu.com</string>
		<key>icon</key>
		<string>read</string>
	</dict>
	<dict>
		<key>name</key>
		<string>知网</string>
		<key>website</key>
		<string>cnki.hznet.com.cn/kns55/</string>
		<key>icon</key>
		<string>z</string>
	</dict>
	<dict>
		<key>name</key>
		<string>GitHub</string>
		<key>website</key>
		<string>github.com/github</string>
		<key>icon</key>
		<string>github</string>
	</dict>
</array>
</plist>
